@charset "UTF-8";
.inline-block {
    display: inline-block;
}
.posRe {
    position: relative;
}
.TextLI {
    text-align: left !important;
}
.TextCI {
    text-align: center !important;
}
.TextRI {
    text-align: right !important;
}
.fwBold {
    font-weight: bold !important;
}
.noFloat {
    float: none !important;
}
.detail-btn-group .btn.Edit, .detail-btn-group .btn.Edit button {
    width: 150px !important;
}
.detail-btn-group .btn.Receipt, .detail-btn-group .btn.Receipt button {
    width: 185px;
}
.btn button img {
    vertical-align: middle;
}
button:focus {
    outline: 0;
}
.list-products + p.error {
    text-align: center;
}
.color-red {
    color: #db0009;
}
.color-blue {
    color: #386CC5;
}
table a.asc::before {
    content: url(../../img/common/asc.png);
    margin-right: 5px;
}
table a.desc::before {
    content: url(../../img/common/desc.png);
    margin-right: 5px;
}
.wrapper-scroll.list-customers {
    max-height: 345px;
    overflow-y: auto;
}
#flashMessage .alert {
    background: #6FBCDA none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    margin: auto;
    padding: 15px;
    width: 1100px;
    font-weight: bold;
}
input[type=radio].style-dot + label {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid #c9c9c9;
    border-radius: 100%;
    overflow: hidden;
    cursor: pointer;
    pointer-events: none;
}
input[type=radio].style-dot + label:before {
    content: '';
    display: block;
    width: 21px;
    height: 21px;
    border-radius: 100%;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 1;
}
input[type=radio].style-dot {
    display: none;
}
input[type="radio"].style-dot:checked {
    box-shadow: none;
    box-shadow: 25px 0px #FFF;
}
input[type="radio"].style-dot:checked + label:before {
    background: red;
}
input[type="radio"].style-dot:focus {
    box-shadow: 25px 0px #FFF;
    opacity: 0.2;
}

/*------------------------
 pagination
--------------------------*/
.pagination2 li.active a{
    background-color: transparent;
    color: inherit;
    padding:0;
}
.pagination2 li.active > a:hover{
    background-color: transparent;
    color: inherit;
    cursor: text;
}

.pagination2 li.prev.disabled > a{
    padding: 0;
}
.pagination2 li.next.disabled > a{
    padding: 0;
}
.pagination {
    overflow: hidden;
    display: block;
    float: right;
}
.pagination li {
    float: left;
    font-size: 18px;
    margin-left: 11px;
    width: 39px;
    text-align: center;
}
.pagination li.prev.disabled, .pagination li.next.disabled {
    background-color: #e1ded6;
    display: block;
    padding: 6px 0;
}
.pagination li a, .pagination li.active {
    background-color: #e1ded6;
    color: #554b2c;
    display: block;
    padding: 6px 0;
}
.pagination li.active {
    background-color: #db0009;
    color: #fff;
}
.pagination li a:hover {
    background-color: #f5dada;
}
.pagination li.prev, .pagination li.next {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.pagination li.prev a, .pagination li.prev.disabled {
    background: #e1ded6 url(../../img/common/left_off.png) center center no-repeat
}
.pagination li.next a, .pagination li.next.disabled {
    background: #e1ded6 url(../../img/common/right_off.png) center center no-repeat
}
.pagination li.prev .on a {
    background: #db0009 url(../../img/common/left_on.png) center center no-repeat
}

.pagination li.next.on a {
    background: #db0009 url(../../img/common/right_on.png) center center no-repeat
}
.total #total_price,
.total #total_prices {
    font-size: 26px;
}
.flowtable th {
    padding-top: 15px;
}
input[readonly].set-color {
    background: #E3E3E3;
    color: #6d6d6d;
    cursor: default;
    pointer-events: none;
}
.list-products tr:hover td {
    background: #ffc7c9;
    cursor: pointer;
}
#OrderSearchForm input[type=text], #OrderSearchForm .custom {
    background: none !important;
}
table.table-hover tr:hover {background:ivory;}
#my-overlay {
    background: #000 none repeat scroll 0 0;
    display: none;
    height: 100%;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9001;
}

#flashMessage .alert-danger {
    background: #f2dede none repeat scroll 0 0;
    color: #a94442;
}

.btn.SearchL {
    vertical-align: middle;
}

.full_input {
    display: block;
}

.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0.0;
    }
}

.form-shop-login .alert-danger {
    color: #db0009;
    margin-top: 5px;
}

div.check label + span {
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding-left: 1px;
    vertical-align: middle;
    min-width: 50px;
}

table td {
    vertical-align: middle;
}

.ui-datepicker {
    z-index: 5 !important;
}

#Search-button.btn-selected-customer {
    background: #ffcc33;
    color: #000;
}

input.disabled {
    background: #e3e3e3 !important;
    pointer-events: none;
    cursor: default;
    color: #6D6D6D;
}

.list-product-unit-img > li {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 20px;
    vertical-align: top;
    width: 200px;
}

.list-product-unit-img.product-images > li {
    width: 145px;
}

.list-product-unit-img img {
    width: 100%;
}

.list-product-unit-img {
    text-align: center;
}

.list-products td.price {
    text-align: right;
}

button.search-customer.disabled, .register button[disabled]:not(.no-set-color), #btn_add_more_img[disabled] {
    background: gray none repeat scroll 0 0 !important;
    cursor: default;
    pointer-events: none;
    color: #ffffff;
}

button.search-customer.disabled {
    pointer-events: auto;
}

#headerNav ul {
    z-index: 99;
}

.custom.disabled {
    background: #e3e3e3;
}

select[disabled] {
    background: transparent;
}

td.validate-total-price {
    border: none;
}

td.validate-total-price p.error {
    text-align: center;
}

.labelfull.no-set-width label {
    width: 90px;
}

.labelfull.no-border-radius label:nth-child(4n) {
    border-right: 1px solid #a09b8c;
    border-radius: 0px;
}

.total p {
    width: auto;
}

.product-checkout th {
    min-width: 100px;
}

span.hp-flag {
    color: #0070c0;
    font-size: 14px;
    font-weight: bold;
}

.detail-order .hp-flag {
    font-size: 14px;
}

.remove-img {
    background: #dfded6 none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    box-shadow: 0 6px 5px -5px rgba(85, 75, 44, 0.73);
    cursor: pointer;
    height: 58px;
    margin-bottom: 5px;
    width: 58px;
}

.product-images .remove-img {
    font-weight: bold;
    height: 45px;
}

.product-images .img-view {
    display: block;
    max-width: 180px;
}

.list-images img {
    margin-top: 5px;
    max-width: 200px;
}

.list-images .item {
    margin-bottom: 10px;
}

.Search-window.preview-product-img {
    text-align: center;
    width: auto;
    max-width: none;
    min-width: auto;
}

.Search-window.preview-product-img img {
    max-width: 400px;
}

.csvBox .csvR.btn.register {
    vertical-align: middle;
}

select.small {
    min-width: 253px;
}

.rabutton {
    overflow: hidden;
}

.list-tags > p {
    display: inline-block;
    margin: 10px 0;
    vertical-align: middle;
    min-width: 172px;
}

.product-checkout input[type=text] {
    font-size: 19px;
}

.list-product-unit input[type=text][readonly].integerOnly {
    background: #e3e3e3;
    pointer-events: none;
    cursor: default;
}

.min.integerOnly {
    width: 80% !important;
}

.min.integerOnly.product-count {
    width: 100% !important;
}

input[type=text][disabled] {
    background: #e3e3e3;
}

.custom.no-set-color {
    background: none;
}

.flowtable .no-category {
    margin: 12px 0 0 5px;
}

.Login .LoginBtnGroup {
    text-align: center;
}

.Login .LoginBtnGroup .register {
    display: inline-block;
    float: none;
}

.check-height label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

.rabutton.has-border label {
    border-bottom: 1px solid #a09b8c;
    border-radius: 0;
    border-right: 1px solid #a09b8c;
}

.rabutton.has-border label:first-of-type {
    border-radius: 5px 0 0 5px;
}

.rabutton.has-border label:last-of-type {
    border-radius: 0 5px 5px 0;
}

.order-detail th {
    width: 50%;
}

.pagination .disabled {
    opacity: 0.5;
}

#loading {
    background: #808080;
    height: 100%;
    display: none;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

#loading > img {
    left: 50%;
    margin-left: -64px;
    margin-top: -64px;
    position: absolute;
    top: 50%;
    opacity: 0.9;
}

.box-receipt-date {
    text-align: center;
    padding: 30px 0;
}

.datepicker-receipt-date {
    z-index: 99999 !important;
}

.foot-edit-order {
    text-align: center;
}

.foot-edit-order .btn.back {
    display: inline-block;
    float: none;
}

table.OrderForm th a {
    color: #554b2c;
}

.form-confirm th span, .form-confirm td span {
    display: inline;
    font-size: 100%;
}

a .link-tel, a .link-address {
    color: #0049b6;
}

.link-address, .link-tel {
    font-size: 100% !important;
}

a[href^=tel] {
    color: #0049b6;
}

#show_order_id .btn {
    display: inline-block;
    float: none;
    margin: 0;
}

table.order-detail tr th:first-child {
    width: 45%;
}

#show_order_id .SearchWFooter {
    text-align: center;
}

#order_change_status .header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 0 0 5px;
}

#show_order_id p strong {
    color: #c00;
    font-size: 20px;
}

.row {
    overflow: hidden;
}

.row [class*="col-lg-"] {
    float: left;
    margin-right: 10px;
}

span.order-status {

}

.overflow {
    overflow: hidden;
}

.Search-window.order-change-status {
    max-width: 835px;
}

.of-order-detail .btn.order-status {
    float: right;
    font-weight: normal;
}

.of-order-detail span.order-status {
    color: #000;
    display: inline-block;
    font-size: 100%;
    font-weight: bold;
    margin-top: 6px;
}

#OrderSearchForm .list-statuses div.checkbox label:last-of-type {
    border-radius: 0;
    border-right: 1px solid #a09b8c;
}

#OrderSearchForm .list-statuses div.checkbox {
    display: inline;
}

#OrderSearchForm .list-statuses div.checkbox:first-child label {
    border-radius: 6px 0 0 0;
}

#OrderSearchForm .list-statuses div.checkbox:last-child label {
    border-radius: 0 6px 6px 0;
}

#OrderSearchForm .labelfull.list-statuses label {
    width: 140px;
}

#OrderSearchForm .labelfull.list-statuses label:nth-of-type(4n) {
    border-radius: 0;
    border-right: 1px solid #a09b8c;
}

.btn.order-status {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: none;
    float: none;
    height: 25px;
    padding: 3px 0;
    text-align: center;
    white-space: nowrap;
    width: 120px;
}

select#StatusColorpicker {
    display: none;
}

span.simplecolorpicker.icon {
    display: none !important;
}

#confirm_delete_status span.break-line {
    display: block;
}

.order-search-by-customer-phone {
    display: inline-block;
    margin-left: 10px;
}

.small-input input[type="text"] {
    max-width: 100px;
}

.btn.export-csv button[disabled] {
    background: #808080;
}
.btn.export-csv button {
    font-size: 15px;
    height: 40px;
    width: 235px;
}

.btn.export-csv {
    height: 40px;
    position: absolute;
    right: 2px;
    top: 10px;
    width: 235px;
}

.btn.export-csv-bottom {
    bottom: 0;
    right: 0;
}

.hidden-important {
    display: none !important;
}

@media screen and (min-width: 768px) {
    .Search-window {
        min-width: 700px;
    }
}

@media screen and (max-width: 920px) {
    .sp-mt10 {
        margin-top: 10px
    }

    .order-search-by-customer-phone {
        margin: 30px 0 0;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    table.order-detail tr th:first-child {
        width: auto;
    }

    #confirm_delete_status span.break-line {
        display: inline;
    }

    #order_change_status .labelfull.list-statuses {
        max-height: 155px;
        overflow-y: auto;
    }

    .detail-btn-group .btn.Receipt, .detail-btn-group .btn.Receipt button, .detail-btn-group .btn.Edit, .detail-btn-group .btn.Edit button {
        width: 260px !important;
    }

    .order-detail th {
        width: 100%;
    }

    .box-receipt-date {
        padding: 10px 0;
    }

    .listtable th, .listtable td {
        border-bottom: none;
    }

    .listtable tr:last-child td {
        border-bottom: 1px solid #c9c9c9;
    }

    .pagination {
        width: 100%;
        float: none;
        margin: 0 auto
    }

    .wrapper-scroll.list-customers{
        max-height: 130px;
        overflow-y: auto;
    }
    .wrapper-scroll.list-traders,
    .wrapper-scroll.list-accounts{
        max-height: 180px;
        overflow-y: auto;
    }
    .btn.Search.expenses-search {
        margin-top: 10px;
    }
    .custom.no-background.select-shop-amount.select-shop-amount {
        margin-top: 10px;
    }
    .btn.export-csv.Search.top-btn-csv {
        margin-top: 20px;
    }
    #PageContent.order-page-content {
        padding-top: 15px !important;
    }
    .pagination .prev.one {
        margin-left: 0;
    }

    .pagination li {
        font-size: 14px;
        width: 32px;
        margin-bottom: 5px;
    }

    .Search-window {
        min-width: auto;
    }

    #flashMessage .alert {
        margin: 0 1px 10px;
        width: auto;
    }

    #headerIn .LogOut {
        left: 245px
    }

    .slicknav_nav li:last-child {
        border: medium none;
    }
}

@media screen and (max-width: 480px) {
    .check-height label {
        min-height: 52px;
    }

    .csvR.register {
        margin-top: 10px;
    }

    #headerIn .StoreName {
        background: none;
        bottom: 22px;
        color: #db0009;
        left: auto;
        right: 80px;
        width: auto;
    }

    #headerIn .LogOut {
        bottom: 50px;
        left: auto;
        right: 80px;
    }

    input[name='product_finish_time_minute'] {
        width: 192px;
        margin-top: 15px;
    }

    .btn.export-csv {
        position: static;
        margin-bottom: 10px;
    }
}

/*4334_add style*/
.ov_hi.set-add .ov_fl {
    padding-left: 0;
}

.ov_hi.set-add .ov_fr {
    padding-left: 5px;
}

.sp_block.pctable.set-product-confirm {
    width: 100%;
}

.sp_block.pctable.set-product-confirm th{
    width: 100px;
    vertical-align: top;
}

.sp_block.pctable.set-product-confirm td {
    padding-bottom: 15px;
}

.product-hidden {
    display: none;
}

.set-product-table th{
    width: 100px;
}

.total.confirm {
    padding-top: 0px;
}

/*4334_search style*/
.order_search_bar tr {
    width: 100px;
    padding: 0 10px 0 10px;
}
.order_search_bar tr td{
    width: 100%;
    padding: 0 0 35px;
}

div.order_search_set {
    margin-top: 25px;
    margin-bottom: 0px;
}

table.no-data tr th a {
    cursor: default;
}

table.Bordertd td.total {
    text-align: right;
    width: 15%;
}
table.Bordertd tr td.id{
    width: 15%;
}

td.edit, th.edit{
    width: 100px;
}


.order_search_set .rabutton label {
    width: 67px;
}
p.price_total, span.price_total {
    float: right;
}
.of-pos-index table.OrderForm.Bordertd .id {width: 20px}
.of-pos-index table.OrderForm.Bordertd .timestamp {width: 80px}
.of-pos-index table.OrderForm.Bordertd .order_id {width: 40px}
.of-pos-index table.OrderForm.Bordertd .price {width: 50px}
span.blue {color: blue}
span.red {color: red}

.of-pos-index .custom { background-color: white; }
.of-pos-index .custom select {height: 56px;}
.of-pos-index .pos_search_bar div.shop_search label {width: 173px;}
.of-pos-index .pos_search_bar div.search_age label {width: 50px;}
.of-pos-index .pos_search_bar div.search_age label:last-child {width: 80px;}
.of-pos-detail table a {color: blue}
.of-pos-index table a {color: blue}
.of-pos-index #PageContent h2 span.price_total {font-weight: normal}
.of-pos-detail .listtable th span, .of-pos-detail  .listtable td span {font-size: 16px; font-weight: bold; display: inline;}

@media screen and (max-width: 480px) {
    .of-pos-index .pos_search_bar div.shop_search label {width: 50%;}
    .order_search_set .rabutton label {width: 50%;}
    .of-pos-index .pos_search_bar div.search_age label {width: 50%;}
    .of-pos-index .pos_search_bar div.search_age label:last-child {width: 50%;}
    .of-pos-index #PageContent h2 {height: 56px;}
    .of-pos-index #PageContent h2 span.price_total {min-width:275px;text-align:right;}
}
.hidden-im {display: none !important;}
.check-all-note {
    float: left;
    font-size: 18px;
    margin: auto;
    padding: 10px 30px;
    color: red;
    width: 100%;
}
.td-center {
    padding: 15px 15px 0 0;
    font-weight: bold;
}
#searchStatus11{
    display: none;
}
#searchStatus11.active{
    display: table-row;
}

@media screen and (max-width: 380px) {
    .export-sale-radio label:nth-child(2) {
        height: 71px;
        line-height: 36px;
    }
}

.labelfour.search_payment_method label {
    height: 18px;
}

.labelfour.search_payment_method label:last-child {
    width: 130px;
    font-size: 16px;
}
