@charset "utf-8";
/*------------------------
 タブ切り替え
--------------------------*/
.tab,.tab-bottom{overflow:hidden;}
.tab li,.tab-bottom li{
	background-color: #bfbfbf;
	padding:17px;
	float:left;
	font-size:20px;
	border-right:1px solid #ebe7e0;
	width:33.33%;
	box-sizing:border-box;
	color:#fff;
}
.tab li strong,.tab-bottom li strong{ font-weight:normal}
.tab li:last-child{border-right:none;border-radius:0 6px 0 0;}
.tab-bottom li:last-child{border-right:none;border-radius:0 0 6px 0;}
.tab li:first-child{border-radius:6px 0 0 0;}
.tab-bottom li:first-child{border-radius:0 0 0 6px;}
.tab li.select,.tab-bottom li.select{background:#fff;color:#000;}
.tab li span,.tab-bottom li span{
	border:solid 1px #fff;
	color:#fff;
	text-align:center;
	width:35px;
	height:35px;
	border-radius: 50%;
	display:inline-block;
	box-sizing:border-box;
	font-size:20px;
	padding-top:2px;
	margin-right:10px;
}
.tab li.select span,.tab-bottom li.select span{
	background-color: #00aeb8;
    color: #fff;
	border:none;
}
.content{
	background-color:#fff;
	padding:30px 25px;
	min-height:570px;
	box-shadow:rgba(85, 75, 44, 0.729412) 0px 6px 5px -5px;
	-webkit-box-shadow:rgba(85, 75, 44, 0.729412) 0px 6px 5px -5px;
	-moz-box-shadow:rgba(85, 75, 44, 0.729412) 0px 6px 5px -5px;
}
.hide {display:none;}
.content .order{
	background:url(../img/common/arrow.png) left bottom repeat-y;
	position:relative;
	padding-top:20px;
}
.content .order .notes{
	position:absolute;
	top:0;
	right:0;
	font-size:92%;
}
.flowtable th.end{ background:none}
.flowtable th p{
	padding-left:40px;
	padding-bottom:3px;
}
.flowtable td ul li{
	display:inline-block;
	vertical-align:middle;
	padding-left:10px
}
ul.halfIn li p,ul.halfIn li span,.required,.flowtable td .rabutton,.pctable .custom,.sp-block,.inline_block{
	display:inline-block;
	vertical-align:middle;
}
span.req{
	background:url(../img/common/icon_required.jpg) center center no-repeat;
	width:13px;
	height:13px;
	text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
	padding:0 10px;
}
.heading{font-weight:bold; font-size:18px;}
.dismid{ display:inline-block; vertical-align:middle}
@media screen and (max-width: 960px) {}
@media screen and (max-width: 768px) {
	.content{padding:0;}
	.tab li{padding:10px 0;}
	.tab li span{
		font-size:20px;
		width:35px;
		height:35px;
		margin:0 auto;
		display:block;
	}
	.tab li strong,.tab-bottom li  strong{
		font-size:14px;
		display:block;
		text-align:center;
	}
	.content .order{padding:15px; background:none;}
	.content .order.flowarrow2,.content .order.flowarrow3{background:none}
	.flowtable th{background:none}
	.flowtable th p{padding-left:0}
}
.required input[type="text"],.required input[type="tel"],.custom.required{background-color:ivory;}
.custom,.normalselect{
  min-width:122px;
  display:inline-block;
  *display:inline;
  *zoom: 1;
  position:relative;
  border-radius:4px;
  border:1px solid #ccc;
  z-index:0;
}
.normalselect{	background-color:#fff;min-width:110px;}
.custom > select,.normalselect > select {
  width: 105%;
  padding: 0.64em;
  padding-right:30px;
  box-sizing:border-box;
  z-index:10;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
}
.normalselect > select {	width:110%;padding: 0.6em;}
.custom:after,.normalselect:after {
	content: ' ';
    height: 15px;
    position: absolute;
    width:15px;
	display:block;
	background:url(../img/common/triangle.png) left top no-repeat;
    top: 50%;
	margin-top:-7px;
	right:8px;
	z-index:-2;
}
.required .default .custom > select { width: auto;}
.required .overflow .custom { overflow: visible;}
.fullIn p{display:inline-block}
.rabutton input {display: none;}
.rabutton label{
	display: block;
	float: left;
	cursor: pointer;
	min-width: 90px;
	margin: 1px;
	background-color:#eee;
	padding: 14px 4px;
	color:#bbb;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	line-height: 1;
	transition: .2s;
	box-sizing:border-box;
}
.rabutton input[type="radio"]:checked + label {background-color:#e60012; color:#fff;}
.labelModerate label{width:210px}
.labelfull label{min-width:164px;border-radius:0;}
.inline_block{display:inline-block;vertical-align:top;	padding-top:0}
.inline_block li{ display:inline-block}

@media screen and (max-width: 1024px) {
	.rabutton label{ width:80px;}
	.labelfull label{width:130px;}
}
@media screen and (max-width: 768px) {
	.rabutton label{ width:110px; border-left:1px solid #c9c9c9;}
	.labelModerate label{ font-size:15px}
}
@media screen and (max-width: 480px) {
	.rabutton{ display:block !important}
	.rabutton label{min-width:50%;box-sizing:border-box;}
	.labelfour label{ border:solid 1px #c6bcad}
	.labelfour label:first-of-type{
		border-radius:6px 0 0 0;
		border-bottom:none;
		border-right:none;
	}
.labelfour label:nth-of-type(2){border-radius:0 6px 0 0; border-bottom:none;}
.labelfour label:nth-of-type(3){border-radius:0 0 0 6px; border-right:none;}
.labelfour label:last-child{ border-radius: 0 0 6px 0 !important}
.labelfull label{border-radius:0;}

/*.labelfull label:first-of-type{border-radius:0;}
.labelfull label:nth-of-type(4){border-radius:0;}
.labelfull label:nth-of-type(9){border-radius:0;}
.labelfull label:last-child{ border-radius: 0 !important}*/
.required input[type="text"],.required input[type="tel"]{ width:100%;}
.pctable .custom{width:99%; margin-top:15px;}
}

/*------------------------
 入力フォーム上下部ボタン
--------------------------*/
.contenttop{
	overflow:hidden;
	padding:0 0 30px;
}
.contentfoot{overflow:hidden;padding:30px 0 10px;}
.btn{font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;float:left;width:264px;height:50px;}
.btn:hover,button:hover,.btnmini:hover{ opacity:0.7}
.btn button{width:260px;border:none;font-size:16px;	display:block;
	height:50px;
	background-color:#fff;
	cursor:pointer;
	border-radius:4px;
	box-shadow:0px 3px 0px 0px #999;-moz-box-shadow:0px 3px 0px 0px #999;-webkit-box-shadow:0px 3px 0px 0px #999;
}
.btn button img{margin-right:5px; margin-bottom:3px;}
.btn.clear button{}
.btn.register,.btn.Search,.btn.Receipt,.btn.Edit{float:right}
.btn.SearchL{display:inline-block;float:none;}
.btn.register button{background-color:#e60012;color:#fff;}
.btn.Searchclear button{border: 1px solid #ccc;}
.btn.History button{background-color:#e60012;color:#fff;}
.btn.Receipt,.btn.Receipt button{
	width:217px;
	margin-right:40px;
	color:#554b2c;
}
.btn.Search button,.btn.SearchL button{background-color:#e60012; color:#fff;}
.btn.Edit,.btn.Edit button,.btnMedium,.btnMedium button{width:180px;}
.btnmini button,.btnmini a,input.del{
	height:45px;
	width:80px;
	border:none;
	font-size:16px;
	display:block;
	background-color:#e1ded6;
	cursor:pointer;
	margin:0 auto;
	border-radius:4px;
	box-sizing:border-box;
	box-shadow:0px 3px 0px 0px #aaa;-moz-box-shadow:0px 3px 0px 0px #aaa;-webkit-box-shadow:0px 3px 0px 0px #aaa;
}
.btnmini.Edit button,.btnmini.Edit a{background-color:#e60012;color:#fff;}
.btnmini.Edit a{padding-top:11px}

/*------------------------
 入力フォームテーブル(②、③)
--------------------------*/
td .line{ display:inline}
td .inline-block{ display:inline-block}
td .middle,th.middle,td.middle{ vertical-align:middle}
th.vtop,td.vtop{ vertical-align:top}
/*------------------------
 テーブルのタイトル幅に合わせたボックス(③)
--------------------------*/
.ov_hi{ overflow:hidden}
.ov_fl{float:left;	width:100px;padding-left:40px}
.ov_fl p,.ov_fl span{ display:inline-block}
.ov_fr{	float:left;	width:870px;padding-left:40px;}
table.OrderForm th,table.OrderForm td{border:solid 1px #c9c9c9; box-sizing:border-box;}
table.OrderForm th{
	background-color:#faf8f4;
	text-align:center;
	vertical-align:middle;
	padding:7px 2px;
}
table.OrderForm td{vertical-align:middle;padding:7px;}
table.OrderForm td input.min{width:80%}
.reckoning tr th:nth-child(2) {width:300px;}
.reckoning tr td:nth-child(3) {width:80px;text-align:center;}
.reckoning tr td:nth-child(4),.reckoning tr td:nth-child(5){font-weight:bold}
.reckoning tr td:nth-child(6) {width:100px;}
.reckoning td input.min{ width:100%}
.reckoning tr td .normalselect > select{ min-width:76px;}
/*スクロール用*/
thead.scrollHead,tbody.scrollBody{display:block;}
tbody.scrollBody{overflow-y:scroll;height:360px;}
/*幅調整*/
.ov_fr td,.ov_fr th{
	table-layout:fixed;
	border:solid 1px #c9c9c9;
	box-sizing:border-box;
}
th.check,td.check{width:85px;}
table.OrderForm td.check,div.check{padding:0;text-align:center;}
th.Productname,td.Productname{ width:560px;}
th.price,td.price{ width:200px; text-align:right; font-weight:bold;}
table.tdcenter td{text-align:center; vertical-align:middle;}
table.Bordertd td{ border:solid 1px #c9c9c9}
@media screen and (max-width: 1024px) {}
@media screen and (max-width: 768px) {
	.contentfoot{ padding-top:10px}
	.contentfoot .btn,.contenttop .btn{
		float: none;
		margin:20px auto;
		display:block;
	}
	.btn.Edit, .btn.Edit button,.btn.Receipt, .btn.Receipt button{ width:264px;}
	td .line{ display:block}
	td .line input[type="text"],td .line input[type="tel"]{ width:100%;}
	tbody.scrollBody::-webkit-scrollbar{width: 5px;	background: #dcdcdc;}
	tbody.scrollBody::-webkit-scrollbar-thumb{background: #db0009;border-radius: 2px;}
	.ov_fr{
		float:none;
		width:100%;
		padding-left:0;
	}
	.ov_fl{ padding-left:0}
	.reckoning td{ height:79px;}
	table.OrderForm td input.min{min-width:80px; font-size:16px;}
	table.OrderForm td .rel input[type="text"]{min-width:150px; font-size:16px;}
}

/*ラベル*/
.label{background-color:#000; color:#fff; font-size:84%; padding:4px 6px; border-radius:3px; cursor:pointer}
.label-blue{background-color:#0000ff; color:#fff; font-size:84%; padding:4px 6px; border-radius:3px; cursor:pointer}
.label-red{background-color:#ff0000; color:#fff; font-size:84%; padding:4px 6px; border-radius:3px; cursor:pointer}

/*チェックボックス*/
td.check input[type=checkbox],div.check input[type=checkbox]{display: inline-block; margin-right: 6px;}
td.check input[type=checkbox] + label,div.check input[type=checkbox] + label{
    position: relative;
    display: inline-block;
    margin-right: 12px;
    font-size: 14px;
    line-height: 30px;
    cursor: pointer;
}
 @media (min-width: 1px) {
td.check input[type=checkbox],div.check input[type=checkbox]{  display: none;  margin: 0;}
td.check input[type=checkbox] + label,div.check input[type=checkbox] + label{ padding: 0 0 0 24px;}
td.check input[type=checkbox] + label::before,div.check input[type=checkbox] + label::before {
        content: "";
        position: absolute;
        top: 0%;
        left: 0;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        width: 32px;
        height: 32px;
        margin-top: -21px;
        background: #eee;
		border-radius:5px;
}
td.check input[type=checkbox] + label::before,div.check input[type=checkbox] + label::before {border: 2px solid #b6b3ab;}
td.check input[type=checkbox]:checked + label::before,div.check input[type=checkbox]:checked + label::before {border: 1px solid #00aeb8; background:#00aeb8;}
td.check input[type=checkbox] + label::after,div.check input[type=checkbox] + label::after{
	content: "";
        position: absolute;
        top: 50%;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        left: 8px;
        width: 16px;
        height: 8px;
        margin-top: -10px;
        border-left: 2px solid #b6b3ab;
        border-bottom: 2px solid #b6b3ab;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
}
td.check input[type=checkbox]:checked + label::after,div.check input[type=checkbox]:checked + label::after{border-left: 3px solid #fff; border-bottom: 3px solid #fff;}
}
tr.on_check td{ background-color:#ebe7e0}
/*合計*/
.total{overflow:hidden; padding:15px 15px 0 0;}
.total p{
	font-size:26px;
	font-weight:bold;
	text-align: center;
	width:180px;
	float:right;
	border-bottom:solid 1px #00aeb8
}
.total span{font-size:16px; padding:0 5px;}
/*使用ポイント*/
.total-usepoint{overflow:hidden; padding:15px 15px 0 0;}
.total-usepoint p{
	font-size:22px;
	font-weight:bold;
	text-align: right;
	width:330px;
	color:red;
	float:right;
	border-bottom:solid 1px #00aeb8
}
.total-usepoint span{font-size:16px; padding:0 5px;}
/*付与ポイント*/
.total-givepoint{overflow:hidden; padding:15px 15px 0 0;}
.total-givepoint p{
	font-size:22px;
	font-weight:bold;
	text-align: right;
	width:400px;
	float:right;
	border-bottom:solid 1px #00aeb8
}
.total-givepoint span{	font-size:16px;padding:0 5px;}
/*datepicker*/
.rel{ position:relative}
.ui-datepicker-trigger{
	position:absolute;
	top:50%;
	margin-top:-14px;
	right:10px;
}
.ui-widget{	z-index:100 !important}
.ui-datepicker td span, .ui-datepicker td a{
	padding:.1em  .2em;
    text-align:center;
}
.ui-widget-header{ background-color:#fff;}
.ui-widget-header .ui-icon{ background-image:url(../img/common/ui-icons_cc0000_256x240.png)}
.ui-datepicker-prev,.ui-datepicker-next{ }
.ui-datepicker .ui-datepicker-prev-hover,.ui-datepicker .ui-datepicker-next-hover{background-color:#f5dada}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
	background-color:#db0009;
	border-color:#554b2c
}
/*dialog*/
.ui-dialog{padding: .6em; box-sizing:border-box;}
.ui-dialog-titlebar{ border:none; border-bottom:solid 2px #ccc;border-radius:0}
.ui-dialog .ui-dialog-buttonpane button{background-color: #000; border:none; color: #fff;}

/*------------------------
 リスト
--------------------------*/
.listtable th,.listtable td{
	border-top:solid 1px #c9c9c9;
	border-bottom:solid 1px #c9c9c9;
	padding:12px 22px;
}
.listtable th{
	background-color:#dcdcdc;
	color:#554b2c;
	text-align:left;
	font-weight:normal;
}
.listtable td{ font-weight:bold}
.listtable th span,.listtable td span{
	font-size:14px;
	display:block;
	font-weight:normal;
}
.totalFee{
	overflow:hidden;
	clear:both;
}
.totalFee p{
	float:right;
	padding:0 10px;
	font-size:20px;
	margin:30px 0;
	border-bottom:solid 1px #919191;
}
.totalFee span{
	font-size:26px;
	padding:0 6px;
}
@media screen and (max-width: 768px) {
.listtable th,.listtable td{
		display:block;
		width:100%;
		box-sizing:border-box;
}
.listtable th{
	background-color:#fff;
	border-bottom:none;
	padding-bottom:0;
}
.listtable td{
	border-top:none;
	padding-top:5px;
}
.listtable th span{
	display:inline;
	padding-left:10px;
}
}
/*----------------------------
 モーダルで表示されるBOX
----------------------------*/
.Search-window{
	background-color:#fff;
	padding:10px;
	display:none;
}
.Search-window table{border:solid 1px #c9c9c9;}
.Search-window table th,.Search-window table td{
	border:solid 1px #c9c9c9;
	vertical-align:middle;
	padding:5px 8px;
}
.Search-window table th{background-color:#eee; text-align:center}
.Search-window table tr td:nth-of-type(1){ text-align:center}
/*.SearchWFooter{ padding-top:20px}
.plainmodal-close{
	position: absolute;
    width: 45px;
    height: 45px;
    right: -15px;
    top: -15px;
	text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background:url(../img/common/close.png) left top no-repeat;
}*/
label.radio{
	position: relative;
	display: inline-block;
	width: 25px;
	height: 25px;
	border: 1px solid #c9c9c9;
	border-radius : 100%;
	overflow : hidden;
	cursor: pointer;
	margin: 0 9px;
}
label.radio:before {
	content: '';
	display : block;
	width: 21px;
	height: 21px;
	border-radius: 100%;
	position : absolute;
	top: 2px;
	left: 2px;
	z-index : 1;
	background-color: #00aeb8;
}
label.radio input[type="radio"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	margin: 0px;
	position: absolute;
	z-index: 2;
	top: 0;
	left: -25px;
	width : 25px;
	height: 25px;
	display: block;
	box-shadow: 25px 0px #c9c9c9;
}
label.radio input[type="radio"]:checked {box-shadow : none;}
label.radio input[type="radio"]:focus {box-shadow: 25px 0px #FFF; opacity: 0.2;}
@media screen and (max-width: 768px) {
.Search-window{
		width:90%;
		box-sizing:border-box;
}
.Search-window table{ border:none}
.Search-window table thead{	display:none;}
.Search-window table tr{
		margin-bottom:10px;
		display:block;
		border-bottom:2px solid #c9c9c9;
}
.Search-window table tr td:nth-of-type(1) {text-align:left;	background-color:#eee;}
.Search-window table td{
		display:block;
		text-align:right;
		border-bottom:1px dotted #ccc;
}
.Search-window table td:last-child{	border-bottom:0;}
.Search-window table td:before {
		content:attr(data-label);
		float:left;
		font-weight: bold;
}
.SearchWFooter .btn{float:none; margin:0 auto 25px auto;}
}
/*特注商品アップロード*/
.CustomMadeImg{
	position:relative;
	padding:20px 0 100px 0;
}
.CustomMade{ margin-bottom:15px}
.CustomMade img,.CustomMade delBtn{ display:inline-block}
.CustomMade img{ margin-top:10px;}
.CustomMade .delBtn{
    width: auto;
    padding:0;
    margin:0;
    background:none;
    border:0;
    font-size:0;
    line-height:0;
    overflow:visible;
    cursor:pointer;
	outline:none;
}
.CustomMade .delBtn:hover{opacity:0.8;}
.CustomMadeImg .MadeImgBtn{
	position:absolute;
	border:0;
	right:0;
}
@media screen and (max-width: 768px) {
	.CustomMadeImg{padding-bottom:20px}
	.CustomMade{margin-bottom:0}
	.CustomMade img{width:100%;height:auto;}
	.CustomMade .delBtn{margin:20px auto}
	.CustomMadeImg .MadeImgBtn{position:static;}
	.CustomMadeImg .MadeImgBtn button{width:100}
}
/*ログイン*/
.Login{margin:50px auto; width:485px;}
.LoginIn{
	background-color:#fff;
	text-align:center;
	padding:35px;
	border-radius:5px;
	margin-bottom:30px;
}
.Login dl{margin:40px auto 0 auto; width:345px;}
.Login dt,.Login dd{text-align:left;}
.Login dt{margin-left:3px; font-weight:bold;}
.Login dd{margin-bottom:40px}
.Login .custom,.normalselect{min-width:inherit; width:100%;}
.Login .required{ display:block}
.Login .required input{width:100%;}
.Login .LoginBtnGroup{overflow:hidden; padding-bottom:10px;}
.Login .LoginBtnGroup .btn{
	float:left;
	width:158px;
	box-shadow:rgba(85, 75, 44, 0.729412) 0px 6px 5px -5px;
	-webkit-box-shadow:rgba(85, 75, 44, 0.729412) 0px 6px 5px -5px;
	-moz-box-shadow:rgba(85, 75, 44, 0.729412) 0px 6px 5px -5px;
}
.Login .LoginBtnGroup .btn button{width:100%;}
.Login .LoginBtnGroup .register{float:right;}
@media screen and (max-width: 768px) {
.Login{margin:20px auto;width:90%;}
.LoginIn{padding:15px;}
.Login dl{width:100%}
}
/*CSV*/
.csvBox{margin:15px 0 25px auto}
.csvBox .csvL{display:inline-block;margin-right:20px;}
.csvBox .csvR.btn.register{display:inline-block;float:none;}
.btnmini_order button, .btnmini_order a {
	height: 40px;
	width: 58px;
	border: none;
	font-size: 16px;
	display: block;
	border-radius: 6px;
	background-color: #e1ded6;
	font-weight: bold;
	cursor: pointer;
	margin: 0 auto;
	box-sizing: border-box;
}
.btnmini_order.Edit a {padding-top: 8px;}
.OrderFormTd tr td {padding: 8px;}
a.btn_order_status {
	float: left;
	font-size: 18px;
	margin: auto;
	padding: 10px 30px;
	color: #2120ff;
}
.list-tags-block {margin-top: 20px;}
.block-header {padding:10px; background:#ebe7e0;}
.block-content {margin-top: 10px;}
p.btn_cancel_change_status {margin-bottom: 8px;margin-right: 218px;}
th.has_data{cursor:pointer;}
th.has_no_data{cursor:auto;}
.expenses-search-td {position:relative;}
.btn.Search.expenses-search {
	display: inline-block;
	float: none;
	vertical-align: top;
}
.expenses-td .input.text {
	display: inline-block;
	margin-bottom: 20px;
	vertical-align: top;
}
.export-rel {display:inline-block; max-width:100%;}
.export-rel input{max-width: 100%;}
.expenses-td .input.text p {margin-top:5px;}
.expenses-td .input.text p.expenses-success {color:#4cae4c;}
.expenses-td .input.text p.expenses-error {color:crimson;}
.custom.no-background {background:none;}
input.full-text {width:680px; max-width:100%;}
input.min-textbox {width:120px; max-width:100%; font-size:25px;}
span.percent-after {padding-left:10px; font-size:22px;}
.custom.disabled-select {display:none;}
.order.bottomTable th {width: 95px;}
#trader_name,#account_name{padding:15px 20px;}
#Search-button.btn-selected-trader,#Search-button-account.btn-selected-account{background: #ffcc33; color: #000;}
.order-title {position:relative;}
#PageContent.order-page-content {padding-top: 40px;}
.btn.export-csv.Search.top-btn-csv {width: 265px; top: -20px;}
.btn.export-csv.Search.top-btn-csv button {width: 100%;}
.wrapper-scroll.list-traders,.wrapper-scroll.list-accounts{max-height: 345px;	overflow-y: auto;}
#headerNav ul > li.menu_large {width: 128px;}
.expenses-select {width: 288px;}
.banner-image .img-view {max-height: 120px;display: block;max-width: 100%;}
.inline-td td {display: inline-block;}
table.pctable .inline-td td {display: inline-block;vertical-align: middle;}
.banner-tr td {padding: 0 15px 35px 0;}
table.pctable .inline-td.banner-tr-inline td{vertical-align: top;}
.expenses-search-text {width: 500px;}
.btn.Search.expenses-button {float: none;margin: auto;}
.second-btn {width: 364px;max-width: 100%;}
.btn.second-btn button {width: 100%;}
.btnmini.Edit a.disabled {background-color: #e1ded6;	color: graytext;}
.table-money {width: 600px;border-collapse: collapse;max-width: 100%;}
.table-money td,.table-money th {
	width: 50%;
	display: table-cell;
	box-sizing: border-box;
	padding: 5px;
	border: 1px solid black;
	height: 60px;
	line-height: 60px;
}
.total-yen-index a,.total-yen-detail{color: dodgerblue;}
.table-money th {
	text-align: center;
	background-color: #ccc;
	color: #666;
}
.table-money tr td:nth-child(1) {text-align: right;}
.table-money tr td:nth-child(2) {text-align: center;}
.table-money tr td:nth-child(2) input{
	width: 100px;
	background-color: #f5dada;
	text-align: center;
	display: inline-block;
}
.table-money tr td.total-money {
	font-weight: bold;
	text-align: right;
	font-size: 22px;
}
@media (max-width: 600px) {
	table.table-money {width: 100%;}
}
.pinned .table-money-detail th,.pinned .table-money-detail td{	padding-right: 10px;}
.edit-content {padding-top: 15px;font-weight: bold;}
.LinkApp {
	position: absolute;
	top: 5px;
	left: 270px;
	font-size: 14px;
}
.LinkApp a {color: #0049b6;}
@media (max-width: 1024px) {
	.LinkApp {left: 150px;}
}
@media (max-width: 768px) {
	.LinkApp {top: 45px;left: 150px;}
	a.btn.change-sort.export-csv.Search.top-btn-csv {	top: -35px;}
	.btn.change-sort {	display: none;}
}
@media (max-width: 480px) {
	.LinkApp {top: 70px;}
	a.btn.change-sort.export-csv.Search.top-btn-csv {	margin: -15px 0 0 0;}
}
@media (max-width: 420px) {
	.LinkApp {left: 110px;}
}
@media (max-width: 320px) {
	.LinkApp {left: 5px;}
	a.btn.change-sort.export-csv.Search.top-btn-csv {margin: 10px 0;}
}
.delivery-possibles-text {
	display: inline-block;
	padding: 5px 10px;
	width: 80px;
	vertical-align: top;
	margin: 5px 0;
}
#pos-id-input{
	width: 289px;
	height: 48px;
	padding: 0.64em;
	font-size: 20px;
    display: inline-block;
    position: relative;
    border-radius: 6px;
    border: 1px solid #c9c9c9;
    background-color: #f5dada;
    z-index: 3;
}
.delivery-possibles-time {display: inline-block;}
.delivery-possibles-time ul {	display: inline-block;}
.delivery-possibles-time > ul {	margin: 5px 0;}
.wrapper-delivery-possibles .custom {	margin: 5px 0;}
#PageContent h2 span.total-expenses {
	position: absolute;
	right: 0;
    font-weight: normal;
}
.error-money-add{	color:#db0009;}
.print-pos {	float: right;}
.second-btn-pos {	margin-right: 144px;}
.wrapper-delivery-possibles .error {}
.total-expenses {
	position: absolute;
	right: 0;
    font-weight: normal;
}
.print-pos {float: right;}
.second-btn-pos {margin-right:20px;}
#print_frame {display: none;}
.export-rel.expenses {margin:5px 0;}
.btn.change-sort.Search.top-btn-csv {width:150px;top:-20px;}
.ui-sortable-handle.ui-sortable-helper {display: block;width: 100%;}
.ui-sortable-handle.ui-sortable-helper td{
	display: inline-block;
	margin: 0 -4px;
	box-sizing: border-box;
}
.cate-sort .ui-sortable-handle.ui-sortable-helper td:nth-child(1){width: 15% !important;}
.cate-sort .ui-sortable-handle.ui-sortable-helper td:nth-child(2),
.cate-sort .ui-sortable-handle.ui-sortable-helper td:nth-child(3),
.cate-sort .ui-sortable-handle.ui-sortable-helper td:nth-child(4) {width: 24%;}
.cate-sort .ui-sortable-handle.ui-sortable-helper td:nth-child(5) {width: 13%;}
.product-sort .ui-sortable-handle.ui-sortable-helper td:nth-child(1),
.product-sort .ui-sortable-handle.ui-sortable-helper td:nth-child(2),
.product-sort .ui-sortable-handle.ui-sortable-helper td:nth-child(3),
.product-sort .ui-sortable-handle.ui-sortable-helper td:nth-child(4),
.product-sort .ui-sortable-handle.ui-sortable-helper td:nth-child(6) {width: 15%;}
.product-sort .ui-sortable-handle.ui-sortable-helper td:nth-child(5) {	width: 25%;}
.btnmini.Edit span {
	height: 47px;
	width: 80px;
	border: none;
	font-size: 16px;
	display: block;
	border-radius: 6px;
	background-color: #e1ded6;
	font-weight: bold;
	cursor: pointer;
	margin: 0 auto;
	box-sizing: border-box;
	padding-top: 11px;
	opacity: 0.8;
}
.expenses-break-line {
	word-wrap: break-word;
	word-break: break-all;
}
.regist_number {
	min-width: 150px;
	display: inline-block;
	position: relative;
}
.regist_number span {
	font-weight: bold;
	font-size: 100%;
	padding-left: 30px;
	padding-bottom: 3px;
}
.regist_number input[type="text"] {
	margin-left: 20px;
}
.expense-has-border th, td {
	padding-top: 30px;
	margin: 0px;
	padding-bottom: 0px;
}
table.sp_block.has-border {
	border-collapse: inherit;
	border-spacing: 0;
}
textarea.expenses-comment {
	width: 600px;
	height: 150px;
	line-height: 1.5em;
	resize: none;
	border: solid 1px #c9c9c9;
	border-radius: 10px;
	padding: 10px;
	font-size: 22px;
	overflow-y: scroll;
}
.text-regist_number {
	padding: 0px 20px;
	margin: 0px;
	min-width: 70px;
	line-height: 50px;
	display: inline;
	font-weight: bold;
}
@media screen and (max-width: 768px) {
	.text-regist_number {
		padding: 0px;
		margin: 0px;
		min-width: 70px;
		line-height: 50px;
		display: inline;
	}
	.expenses.regist-number-bound {	width: 100%;}
	.total-amount {font-size: 115%;}
	textarea.expenses-comment {width: 100%}
}
.total-amount {
	float: right;
	width: 100%;
	color: #554b2c;
	padding: 0 0 0.2em 10px;
	border-bottom: 1px solid #f5dada;
	position: relative;
	margin: 10px 0 20px;
	font-weight: normal;
	word-wrap: break-word;
	word-break: break-all;
}
div.total-amount:before {
	content: "";
	display: block;
	width: 13%;
	border-bottom: 2px solid #554b2c;
	position: absolute;
	bottom: 0;
	left: 0;
	margin-bottom: -2px;
}
.expenses-search.btn-clear-search button {background: gray none repeat scroll 0 0 !important; color: #fff;}
.regist_nm_type_refund {
	display: inline-block;
	font-size: 20px;
	padding: 15px;
	font-weight: bold;
}
.my-white {color: #fff;}
.price-pretax {font-weight: bold;}

.dates-of-month{white-space: nowrap;}
.dates-of-month table{table-layout:fixed;}
.dates-of-month table td:hover{background-color:ivory}
.dates-of-month table td p{ font-size: 90%;}
.dates-of-month table td input{width:100%; margin-bottom:10px;}
.maps{
  margin: 20px auto 0 auto;
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}
.maps iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
@media screen and (max-width: 768px) {

}
